@font-face {
   font-family: 'Affectionately Yours - TTF';
   font-display: swap;
   src: url('Affectionately Yours - TTF/font.ttf');
}
@font-face {
   font-family: 'FelichiyaCollectionSansBold-ow03o';
   font-display: swap;
   src: url('FelichiyaCollectionSansBold-ow03o/font.ttf');
}
