@font-face {
   font-family: 'FelichiyaCollectionSansBold-ow03o';
   font-display: swap;
   src: url('file:///C:/Users/User/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-05-15_235918/fonts/FelichiyaCollectionSansBold-ow03o/font.ttf');
}
