@font-face {
   font-family: 'Affectionately Yours - TTF';
   font-display: swap;
   src: url('file:///C:/Users/User/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-05-15_000112/fonts/Affectionately%20Yours%20-%20TTF/font.ttf');
}
